.side-box {
  width: 250px;
  margin-right: 15px;
  flex-shrink: 0;
}

.list-header {
  background: #eeeff4;;
  height: 80px;
  display: flex;
  align-items: center;
}

.search-field {
  height: 200px;
  background: linear-gradient(135deg, #49a6fe, #d7e7f8);
  border-bottom: 1px solid #2a99ff;
  border-top: 1px solid #2a99ff;
}