* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col {
  display: flex;
  flex-direction: column;
}

.col.reverse {
  flex-direction: column-reverse;
}

.grow {
  flex-grow: 1;
}

.start {
  justify-content: flex-start;
  text-align: start;
}

.center {
  justify-content: center;
  text-align: center;
}

.end {
  justify-content: flex-end;
  text-align: end;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

@media only screen and (min-width: 512px) {

}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}

@media only screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
  }
}