@import "fontawesome";
@import "roboto";
@import "sticky";
@import "flex";
@import "zindex";
@import "bootstrap";
@import "components";


html {
  font-family: "Roboto", "Arial", sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
}

.undecorate {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
.dashed{
  border-bottom: 1px dashed;
}