@import "fontawesome";
@import "roboto";
@import "sticky";
@import "flex";
@import "zindex";
@import "bootstrap";
@import "components";
@import "modals";

html {
  font-family: "Roboto", "Arial", sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
}

.undecorate {
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.dashed {
  border-bottom: 1px dashed;
}

.pointer {
  cursor: pointer;
}

.rgap6 {
  margin-right: 6px;
}

.mb10 {
  margin-bottom: 10px;
}

.unselect {
  user-select: none;
}