$main-high-color: #2a99ff;
$main-dark-color: #3b5978;

$grey-color: #929eaa;
$hover-color: #2a99ff;
$main-background: #21cead;
$main-shadow: 0 0 12px 3px rgba(0, 147, 229, 0.25);
$main-border: #2a99ff;

$btn-text-first: #666;
$btn-background-first: #fff;
$btn-background-first-hover: #e6e6e6;
$btn-shadow-first: 0 6px 11px 1px rgba(0, 147, 229, 0.25);

$btn-text-second: #fff;
$btn-background-second: #21cead;
$btn-background-second-hover: #20b292;
$btn-shadow-second: 0 6px 11px 1px rgba(0, 147, 229, 0.25);

$btn-text-find: #fff;
$btn-background-find: #2a99ff;
$btn-background-find-hover: #197fe7;
$btn-shadow-find: 0 6px 12px 1px rgba(0, 147, 229, 0.3);

$promo-title: #fff;
$promo-text: #fff;
$promo-background: #2a99ff;

$jumbo-background: #56940d;

$box-shadow: 0 7px 24px 2px rgba(0, 147, 229, 0.15);
$search-gradient: linear-gradient(135deg, #49A6FE, #D7E7F8);
$pagination-color: #2a99ff;
$contact-us-height: 355px;
$contact-us-height_ty: 310px;

$std-border: #e8e8e8;
$std-border-hover: #cecece;
$std-back: #f7f7f7;
$std-text: #444;