.periods {
  position: relative;
  .period-dropdown {
    display: none;
    position: absolute;
    width: 175px;
    top: 0;
    padding: 20px 0 31px 20px;
    &.opened {
      display: inline-block;
    }
  }
  .period-dropdown-item {
    display: block;
    padding: 10px;
    background: #fff;
    outline: 1px solid #ccc;
  }

}