.select-box {
  position: absolute;

  display: none;
  &.opened {
    display: block;
  }
}

.select-box-wrapper {
  position: relative;
}

.select-box-item {
  padding: 4px 2px;
  outline: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 200ms;
  &.active,
  &:hover {
    background-color: #eee;
    transition: background-color 200ms;
  }
}