.vacancy-item {
  border: 1px solid $std-border;
  border-top-right-radius: 80px;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.vacancy-title {
  font-size: $h4-font-size;
  color: $title-color;
  font-weight: $headings-font-weight;
}

.vacancy-income {
  margin-right: 40px;
  white-space: nowrap;
  color: $main-background;
  font-size: $h4-font-size;
  font-weight: $headings-font-weight;
}

.vacancy-favorite {
  border-radius: 50%;
  background-color: $dark-color;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
}